[submodule "templates"]
	path = templates
	url = git@github.com:RetroMan-project/templates.git
[submodule "themes"]
	path = themes
	url = git@github.com:RetroMan-project/themes.git
[submodule "submodule"]
	path = submodule
	url = git@github.com:RetroMan-project/plugins.git
[submodule "plugins"]
	path = plugins
	url = git@github.com:RetroMan-project/plugins.git
